body {
	background-color: orange;
}

img {
	width: 80%;
	background-repeat: no-repeat;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15%;

}

.button {
	background-image: url(enter.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	position: fixed;
	left: 79%;
	bottom: 15%;
	height: 100px;
	width:190px;

}

.button:hover {
	background-image: url(enterhover.png);

}


@media (max-width: 1219px) {
	img {
		margin-top: 65%;
	}

	.button {
		
		align-items: center;
		
		bottom: 43%;
		width: 120px;
	}


.button:hover {
	background-image: url(enterhover.png);
}

