header {
	margin-bottom: 3rem;
}
p {
	line-height: 1.6;
}
.see-all {
	font-size: .8em;
	text-transform: uppercase;
}

.shows h1 {
	font-size: 2.5rem;
}

.shows h2 {
	font-size: 1rem;
	text-transform: uppercase;
}

.content h1, .content h2 {
	font-weight: lighter;
}

.cast img {
	width: 100%
}

.cast li {
	width: 25%
}

.shows>li {
	border-top: 1px solid black;
}

nav .selected {
	font-weight: bolder;
	color: black;
}

.cast h2 {
	font-size: .8rem
}

.cast img+div {
	font-weight: bold;
}

.cast div+div {
	font-style: italic;}

.seasons li:last-child:after {content: "*"}

#game-of-thrones .seasons:after {
	content: "* In production";
	font-size: .7rem;
	color: #999;
	;
}