body {
	margin: 0px 0px 0px 0px;
}



.header {

    height: 200px;
    background-image: url(granolabars.jpg);
    background-size: cover;
    background-position: -1px -35px;
    background-repeat: no-repeat;
    padding: 0 0 0 50px;
    font-family: 'Slabo 27px', serif;
    font-size: 17px;
    color: white;
    letter-spacing: 3px;
}

#imagesource1 {
	position: relative;
	left: 235px;
	font-weight: lighter;
	font-size: 6pt;
	top: 33px;
	font-family: sans-serif;
	text-decoration: underline;
	color: black;

}

a:visited {
	color: black;
}
h2 {
	margin-top: 0px;
	padding-top: 50px;
	margin-bottom: 0px;
	letter-spacing: 2px;
	font-weight: lighter;
	font-size: 17px;

}

h1 {
	margin-top: 0px;
	margin-bottom: 0px;
	letter-spacing: .5px;
	font-size: 34px;
	font-family: 'slabo 27px', serif;
}

p {
	color: #001a33;
}

.bottomofsection {
	margin-bottom: 50px;
}

.section2
{
	box-sizing: border-box;
	margin: 0px 41px 41px 48px;
	text-align: left;
	color: black;
	font-size: 14px;
	font-family: 'slabo 27px', serif;
	line-height: 20px;

}

h2.about
{
	font-weight: bold;
}

.ingredients {
	background-color: #001a33;
	color: white;
}

#ingredients {
	padding-top: 41px;
	padding-bottom: 21px;
	color: white;
	font-family: 'slabo 27px', serif;
	text-align: center;
}
ul {
	padding: 15px 15px 15px 29px;
	list-style: none;
	max-width: 293px;
	margin: auto;
	font-family: 'slabo 27px', serif;
	font-size: 14px;
	line-height: 20px;
}

span {
	font-size: 15px;


}

.imagebreak {
	height: 150px;
	background-image: url(bars.jpg);
	background-size: cover;
	background-position: 0px -328px ;
	background-repeat: no-repeat;
}

#howtomake {
	text-align: center;
	color: #001a33;
	padding-top: 41px;
	padding-bottom: 41px;

}

.howtomake {
	padding: 0px 41px 41px 41px;
	font-family: 'slabo 27px', serif;
}


.step {

	color: #001a33;
	font-weight: bold;

}


.bottomimage {
	height: 200px;
	background-image: url(barsfinished.jpg);
	background-position: 1px -114px;
	background-size: cover;
}

