
body {background-color: #b0ced1}
body {text-align: center;}
.font {font-family: Courier}
.name {font-size: 70px}
.name {font-family: Courier}
.name {font-weight: bolder;}
.name {color: white}
.subhead {font-size: 12px}
.subhead {font-family: Courier}
.section {font-weight: bolder;}
.section {color: white}
.section {letter-spacing: 5px}