body {
font-family: 'Unica One';
	margin: 0;
}

.navbar {
	margin: 0 auto;
	background-color: orange;
	width: 100%;
}

.logo {
	float: left;
	width: 15%;
	padding-left: 5%;
	padding-top: 14px;
}

nav {
	float: right;
	padding-right: 1%;
}

header {
	background-color: orange;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
	display: inline-block;
	margin-left: 10px;
	font-size: 12pt;
	padding-top: 40px;
	padding-right: 65px;
	position: relative;
}


nav a {
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: 'roboto';
}

nav a:hover {
	text-decoration: underline;
}

nav a:active {
	text-decoration: underline;
}

nav a::before {
	content: '';
	display: block;
	height: 5px;
	background-color: white;

	position: absolute;
	top: 0;
	width: 0%;

	transition: all ease-in-out 250ms;

}


.title {
	font-family: 'Unica One';
	font-size: 80pt;
	color: orange;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 27px;
	margin-bottom: 0;
	letter-spacing: 7px;
	display: block;
}



.subtitle {
	font-family: 'Unica One';
	font-size: 20pt;
	color: orange;
	padding-top: 20px;
	padding-bottom: 0px;
	margin-top: 27px;
	margin-bottom: 0;
	display: block;
}


.content {
	max-width: 100%;
	padding-bottom: 5%;
	margin-left: 5%;
	margin-right: 5%;

}

.p1 {
	max-width: 80%;
	font-family: 'Roboto';
	font-size: 15pt;
	line-height: 22pt;
	margin-top: 2%;
	
}

.image1 {
	max-width: 35%;
	float: right;
	padding-left: 3%;
	padding-bottom: 3%;
}



.image2 {
	max-width: 35%;
	float: left;
	padding-right: 3%;
	padding-bottom: 3%;
	padding-top: 3%;
}

.p2 {
	
	margin: auto;
	font-family: 'Roboto';
	font-size: 15pt;
	line-height: 22pt;
	margin-left: 3%;
	margin-right: 3%;
	padding-top: 2%;
}


.name {
	font-family: 'Unica One';
	color: orange;
}


.text1 {
	font-family: 'Roboto';
}

.text2 {font-family: 'Roboto';
}












