#callout1 {
	float:right;
}

body {
			width: 960px;
			margin: 2em auto;
			font-family: Arial, sans-serif;
			font-size: 16px;
			line-height: 1.4;
		}

		h1 {
			font-size: 2em;
			font-weight: normal;
			margin: 0 0 1rem 0;
		}
		section {
			padding: 2rem;
			border: 1px solid #ccc;
			margin: 4rem 0;
			background-color: #fff;
		}

		aside {
			font-size: 24px;
			font-family: Georgia, Serif;
			font-style: italic;
			background-color: #aaa;
			color: #fff;
			padding: 1.5rem;
			width: 15rem;
		}


		.parent {
			position: relative;
		}

		#callout2 {
			position: absolute;
			right: 0;
			bottom: 0;
		}

		#callout3 {
			background-color: green;
			position: fixed;
			top: 0;
			left: 0;
		}

		#callout4 {
    background-color: red;
    position: absolute;
    
    right: 330px;
    top: 190px;
    
    z-index: 250;
}
	


 #callout5 {
 	position: absolute;
 	background-color: black;
 	z-index: 200;
 	right: 320px;
 	top: 200px;

 }

